# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv/
env/
venv/
ENV/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.bak

# Project specific
out/

